<p id="notice"><%= notice %></p>

<p>
  <strong>Send:</strong>
  <%= @message.send_id %>
</p>

<p>
  <strong>Receive:</strong>
  <%= @message.receive_id %>
</p>

<p>
  <strong>Message content:</strong>
  <%= @message.message_content %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @message.create_date %>
</p>

<%= link_to 'Edit', edit_message_path(@message) %> |
<%= link_to 'Back', messages_path %>
