<p id="notice"><%= notice %></p>

<div class="row column text-center">
<h1>Welcome <%= @mentee.id %></h1>

</div>

<div class="row" id="content">
<div class="medium-4 columns">
<div class="blog-post">
<h3>Mentee Profile <small></small></h3>
<img class="thumbnail" src="https://placehold.it/850x600">

<%= image_tag('linkedin_icon.png', size: "120x120") %>
&nbsp;&nbsp;
<%= image_tag('chat_icon.png', size: "105x105") %>

</div>

</div>
<div class="medium-6 columns">
<br></br>

<p>
  <strong>User:</strong>
  <%= @mentee.user_id %>
</p>

<p>
  <strong>Preferred industry:</strong>
  <%= @mentee.preferred_industry %>
</p>

<p>
  <strong>Expected graduation:</strong>
  <%= @mentee.expected_graduation %>
</p>

<%= link_to 'Edit', edit_mentee_path(@mentee) %> |
<%= link_to 'Back', mentees_path %>
</div>
