  <div class="fields">
    <div class="min_mentor">
    <!-- <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div> -->
    <div class="field">
      <%= f.text_field :company, placeholder: "Company" %>
    </div>
    <div class="field">
       <%= f.text_field :industry, placeholder: "Industry" %>
    </div>
    <div class="field">
       <%= f.number_field :graduation, placeholder: "Graduation Year" %>
    </div>
    <div class="field">
       <%= f.text_field :job_title, placeholder: "Job Title" %>
    </div>
    </div>
  </div>