  <div class="fields">
    <div class="min_mentee">
    <!-- <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div> -->
    <div class="field">
      <%= f.label :preferred_industry  %><br>
      <%= f.text_field :preferred_industry %>
    </div>
    <div class="field">
      <%= f.label :expected_graduation %><br>
       <%= f.number_field :expected_graduation %>
    </div>
    <div class="field">
      <%= f.label :industry_preference %><br>
      <%= f.number_field :industry_preference %>
    </div>
    <div class="field">
      <%= f.label :home_state_preference %><br>
      <%= f.number_field :home_state_preference %>
    </div>
    <div class="field">
      <%= f.label :major_preference %><br>
	  <%= f.number_field :major_preference %>
    </div>
    <div class="field">
      <%= f.label :student_group_preference %><br>
	  <%= f.number_field :student_group_preference %>
    </div>	
    </div>
  </div>