  <div class="fields">
    <div class="min_mentor">
    <!-- <div class="field">
      <%= f.label :user_id %><br>
      <%= f.number_field :user_id %>
    </div> -->
    <div class="field">
      <%= f.text_field :company, placeholder: "Company" %>
    </div>
    <div class="field">
       <%= f.input :industry, collection: ["Accounting", "Aerospace", "Advertising", "Agriculture", "Automobile", "Banking", "Commercial", "Construction", "Consulting", "Data Management", "Education", "Engineering", "Entertainment", "Equipment Rental and Leasing", "Finance", "Food", "Health", "Hospitality", "Industrial Machinery", "Investment", "Legal", "Manufacturing", "Marketing", "Media", "Mining", "Oil and Gas", "Petroleum", "Pharmaceutical", "Production", "Real Estate", "Recruitment", "Research", "Retail", "Sales", "Software", "Technology", "Tourism", "Transportation", "Other"], placeholder: "Industry" %>
    </div>
    <div class="field">
       <%= f.number_field :graduation, placeholder: "Graduation Year" %>
    </div>
    <div class="field">
       <%= f.text_field :job_title, placeholder: "Job Title" %>
    </div>
    <div class="field">
      <label>Maximum Matches</label>
       <%= f.number_field :max_matches, value: 3, placeholder: "Maximum Matches" %>
    </div>
    </div>
  </div>