<div class="small-12 medium-6 column small-order-2 medium-order-1">
	<div class="field">
	  <%= f.select :user_type, ['Mentee', 'Mentor'], placeholder: "User Type"%>
    </div>
    <div class="field">
	  <%= f.text_field :first_name, placeholder:"First Name" %>
    </div>
    <div class="field">
	  <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div class="field">
	  <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
	  <%= f.text_field :username, placeholder: "Username" %>
    </div>
    <div class="field">
	  <%= f.text_field :password, placeholder: "Password" %>
    </div>
</div>
<div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">
    <div class="field">
	  <%= f.text_field :home_state, placeholder: "Home State" %>
    </div>
    <div class="field">
	  <%= f.text_field :major, placeholder: "Major" %>
    </div>
    <div class="field">
	 <%= f.text_field :school, placeholder: "School" %>
    </div>
    <div class="field">
	  <%= f.text_area :bio, placeholder: "Bio" %>
    </div>
    <div class="field">
	  <%= f.text_field :linkedin, placeholder: "LinkedIn Page Link" %>
    </div>
    <div class="field">
	  <button class="button button-rounded-hover">Upload Image</button>
	  <!-- <%= f.text_field :image_filename, placeholder: "Image" %> -->
    </div>
    <div class="field">
	  <button class="button button-rounded-hover">Upload Resume</button>
	  <!-- <%= f.text_field :resume_filename %> -->
    </div>

</div>

    
    
    
    
    
    
    
    
    
    
    
    
