<div class="small-12 medium-6 column small-order-2 medium-order-1">
	<div class="field">
	  <%= f.select :user_type, ['Mentee', 'Mentor'], placeholder: "User Type"%>
    </div>
    <div class="field">
	  <%= f.text_field :first_name, placeholder:"First Name" %>
    </div>
    <div class="field">
	  <%= f.text_field :last_name, placeholder: "Last Name" %>
    </div>
    <div class="field">
	  <%= f.text_field :email, placeholder: "Email" %>
    </div>
    <div class="field">
	  <%= f.text_field :username, placeholder: "Username" %>
    </div>
    <div class="field">
	  <%= f.text_field :password, placeholder: "Password" %>
    </div>
    <div class="field">
      <%= f.input :home_state, :collection => User::STATES_LIST, placeholder: "Home State" %>
    </div>
</div>
<div class="small-12 medium-6 column small-order-1 medium-order-2 login-box-social-section">

    <div class="field">
	  <%= f.input :major, collection: ["Architecture", "Art", "Biological Sciences", "Biomedical Engineering", "Business Administration", "Chemical Engineering", "Chemistry", "Civil and Environmental Engineering", "Computational Biology", "Computer Science", "Design", "Drama", "Economics", "Electrical and Computer Engineering", "Engineering and Public Policy", "English", "History", "Human-Computer Interaction Institute", "Information Networking Institute", "Information Systems", "Institute for Politics and Strategy", "Institute for Software Research","Language Technologies Institute", "Machine Learning", "Materials Science and Engineering", "Mathematical Sciences", "Mechanical Engineering", "Modern Languages", "Music", "Philosophy", "Physics", "Psychology", "The Robotics Institute", "Social and Decision Sciences", "Statistics", "Vocal Performance", "Other"], :placeholder => "Major" %>
    </div>
    <div class="field">
	 <%= f.input :school, collection: ["College of Engineering", "College of Fine Arts", "Dietrich College of Humanities and Social Sciences", "Mellon College of Science", "School of Computer Science", "Tepper School of Business"], placeholder: "School" %>
    </div>
	
    <div class="field">
	 <%= f.input :student_group_category, collection: User::STUDENT_GROUPS_LIST, placeholder: "Student Group Category" %>
    </div>
    <div class="field">
	 <%= f.text_field :work_location, placeholder: "Preferred or current work location" %>
    </div>

    <div class="field">
	  <%= f.text_area :bio, placeholder: "Bio" %>
    </div>
    <div class="field">
	  <%= f.text_field :linkedin, placeholder: "LinkedIn Page Link" %>
    </div>

</div>

    
    
    
    
    
    
    
    
    
    
    
    
