<p id="notice"><%= notice %></p>


<p>
  <strong>User type:</strong>
  <%= @user.user_type %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Password:</strong>
  <%= @user.password %>
</p>

<p>
  <strong>Home state:</strong>
  <%= @user.home_state %>
</p>

<p>
  <strong>Major:</strong>
  <%= @user.major %>
</p>

<p>
  <strong>School:</strong>
  <%= @user.school %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<p>
  <strong>Image filename:</strong>
  <%= @user.image_filename %>
</p>

<p>
  <strong>Resume filename:</strong>
  <%= @user.resume_filename %>
</p>

<p>
  <strong>Linkedin:</strong>
  <%= @user.linkedin %>
</p>


<% if @user.user_type == "Mentee" %>

<p>
  <strong>Match:</strong>
  <%= @user.generate_match %>
</p>
<p>
  <strong>Industry Preference:</strong>
  <%= @user.mentee.industry_preference %>
</p>

<p>
  <strong>Major Preference:</strong>
  <%= @user.mentee.major_preference %>
</p>

<p>
  <strong>State Preference:</strong>
  <%= @user.mentee.home_state_preference %>
</p>
<p>
	<strong>Student Group Preference:</strong>
	<%= @user.mentee.student_group_preference %>
</p>
<% end %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
