<html>
<div class="top-bar foundation-5-top-bar">
  <div id="responsive-menu">
    <div class="top-bar-left">
      <ul class="dropdown vertical medium-horizontal menu" data-responsive-menu="drilldown medium-dropdown" data-auto-height="true" data-animate-height="true">
      	<li><strong>CMU CONNECT</strong>&nbsp;
        <li><a href="#">FORUM</a></li>
        <li><a href="#">RESOURCE VAULT</a></li>
      </ul>
    </div>
    <div class="top-bar-right">
      <ul class="menu">
        <li>Already have an account? </li>
        <%= link_to "Sign In", login_path, class: "button round tiny info" %>
      </ul>
    </div>
  </div>
</div>


</br></br>
<div class="work-feature-block row">
	<h4 class="work-feature-block-header">Connect with a mentor today!</h4></br>
  <div class="columns medium-7">
  </br>
    <img class="work-feature-block-image" <%= image_tag 'home.jpg' %>
  </div>
  <div class="columns medium-5">
    <div class="login-box">
  <div class="row collapse expanded">
    <div class="small-12 medium-6 column small-order-2 medium-order-1">
      <div class="login-box-form-section">
        <center><h1 class="login-box-title">Sign up now!</h1></center>
        <center><h5>Sign up as a</h5></center></br>
        <%= link_to "Student", sign_up_path, :class => "button primary round expanded" %>
    	</br><div class="or">OR</div>
        </br><%= link_to "Alum", new_mentor_signup_path, :class => "button alert round expanded" %>
         </br><center><p class="form-registration-member-signin">Already a member? <%= link_to "Sign In", login_path%></p></center>
    	 <center><p class="form-registration-terms"><a href="#">Terms &amp; Conditions</a>|<a href="#">Privacy</a></p></center>
      </div>
    </div>
  </div>
</div>


  </div>
</div>
</html>