<p id="notice"><%= notice %></p>

<p>
  <strong>Subject:</strong>
  <%= @post_thread.subject %>
</p>

<p>
  <strong>Create date:</strong>
  <%= @post_thread.create_date %>
</p>

<%= link_to 'Edit', edit_post_thread_path(@post_thread) %> |
<%= link_to 'Back', post_threads_path %>
