<p id="notice"><%= notice %></p>

<p>
  <strong>Mentor:</strong>
  <%= @match.mentor_id %>
</p>

<p>
  <strong>Mentee:</strong>
  <%= @match.mentee_id %>
</p>

<p>
  <strong>Active:</strong>
  <%= @match.active %>
</p>

<p>
  <strong>Group:</strong>
  <%= @match.group_id %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
